<div class="main">
  <!-- Being BS carousel -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://youveneverheardofjentidwell.files.wordpress.com/2012/03/house.jpg">
        <div class="carousel-caption">
          123 Main Street
        </div>
      </div>
      <div class="item">
        <img src="http://www.richardlopinskielectric.com/images/New%20Images/Residential/residential%20-%20inside%20house.JPG">
        <div class="carousel-caption">
          Entry Point
        </div>
      </div>
      <div class="item">
        <img src="http://fc09.deviantart.net/fs15/f/2007/054/a/9/inside_house_by_shakilnali.jpg">
        <div class="carousel-caption">
          Living Room
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <!-- End BS carousel -->

  <div class="row">
    <div class="col-md-8">
      <ul id="base-details">
        <li class="beds-baths">
          <div>
            <span id="beds">2</span> / <span id="baths">2.5</span>
          </div>
          <div class="beds-baths">
            br/ba
          </div>
        </li>
        <li class="sqft">
          <div>
            <span class="sqft">1300</span>
          </div>
          <div class="sqft">
            sq.ft
          </div>
        </li>
        <li id="price">$200,000</li>
      </ul>
      <ul id="key-points">
        <li id="description">
          Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod.          Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod.
        </li>
        <li id="map">
          <!--
          <div style='width: 800px; height: 400px;'>
            <div id="address" style='width: 800px; height: 400px;'></div>
          </div>
          -->
        </li>
      </ul>

    </div>
    <div class="col-md-4">
      <h3>Inquire</h3>

      <form id="inquiry" role="form">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" class="form-control" placeholder="John Doe" type="text">
        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          <input id="phone" class="form-control" placeholder="###-###-####" type="tel">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" class="form-control" placeholder="name@you.com" type="email">
        </div>

        <button type="submit" class="btn btn-default">Inquire</button>
      </form>

      <button id="find-me">Find Near By Houses</button>

    </div>
  </div>
</div>
