<div class="container-fluid">
  <!-- Being BS carousel -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://youveneverheardofjentidwell.files.wordpress.com/2012/03/house.jpg">
        <div class="carousel-caption">
          123 Main Street
        </div>
      </div>
      <div class="item">
        <img src="http://www.richardlopinskielectric.com/images/New%20Images/Residential/residential%20-%20inside%20house.JPG">
        <div class="carousel-caption">
          Entry Point
        </div>
      </div>
      <div class="item">
        <img src="http://fc09.deviantart.net/fs15/f/2007/054/a/9/inside_house_by_shakilnali.jpg">
        <div class="carousel-caption">
          Living Room
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <!-- End BS carousel -->

  <ul id="base-details">
    <li class="beds-baths">
      <div>
        <span id="beds">2</span>/<span id="baths">2.5</span>
      </div>
      <div class="beds-baths">
        br/ba
      </div>
    </li>
    <li class="sqft">
      <div>
        <span class="sqft">1300</span>
      </div>
      <div class="sqft">
        sq.ft
      </div>
    </li>
    <li id="price">$200,000</li>
  </ul>

  <div class="arrow-down"></div>

  <div class="row">
    <div class="col-md-3">
      <ul id="key-points">
        <li class="key-point">Master on Main</li>
        <li class="key-point">New Kitchen</li>
        <li class="key-point">Hardwoods Throughout</li>
        <li class="key-point">Great Yard</li>
      </ul>
    </div>
    <div class="col-md-3">
      <div id="description">
        Cute bungalow in blossoming East Atlanta neighborhood. 
        Walking distance to East Atlanta Village.
      </div>
    </div>

    <div class="col-md-6">
      <h3>Inquire</h3>

      <div class="row">
        <form id="inquiry" role="form">
          <div class="col-md-6"> 


            <div class="form-group">
              <label for="name">Name</label>
              <input id="name" class="form-control" placeholder="John Doe" type="text">
            </div>

            <div class="form-group">
              <label for="phone">Phone</label>
              <input id="phone" class="form-control" placeholder="###-###-####" type="tel">
            </div>
          </div>
          <div class="col-md-6">

            <div class="form-group">
              <label for="email">Email</label>
              <input id="email" class="form-control" placeholder="name@you.com" type="email">
            </div>

            <button type="submit" class="btn btn-default">Inquire</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
