<div class="cover-heading">
  <%= image_tag("logo_med.png", :alt => "Roost Logo") %>
</div>
<div class="arrow-down"></div>

<div class="inner cover">

  <h3 class="lead">Roost is the easiest way to give buyers a beautiful view into your listing.</h3>

</div>

<div class="mastfoot">
  <div class="inner">
    <p>Photo by <a href="https://flic.kr/p/6e9epN" target="_blank">Shubert Ciencia</a>
    </p>
    <a href="http://switchyards.com/" target="_blank"
       class="made-with-soul text-hide">Made with soul in ATL</a>
  </div>
</div>
