<div class="inner cover">
  <h1 class="cover-heading">Sell your house.</h1>

  <p class="lead">Roost is the easiest way to give buyers a beautiful view into your listing.</p>

  <p class="lead">
    <a href="#" class="btn btn-lg btn-default">Learn more</a>
  </p>
</div>

<div class="mastfoot">
  <div class="inner">
    <p>Made with goddamn soul in the A. Photo by <a href="https://flic.kr/p/6e9epN" target="_blank">Shubert Ciencia</a>
    </p>
  </div>
</div>