<div class="cover-heading">
  <%= image_tag("logo_med.png", :alt => "Roost Logo") %>
</div>
<div class="arrow-down"></div>

<div class="inner cover">

  <h3 class="lead">Beautiful. Simple. Home Listings.</h3>

  <ul id="sell-buy">
    <li id="sell">
      <%= link_to 'Sell your home', new_listing_path %>
    </li>
    <li id="buy">
      <a href="#">Find your home</a>
    </li>
  </ul>

</div>

<div class="mastfoot">
  <a href="http://switchyards.com/" target="_blank" class="made-with-soul">
    <%= image_tag("switchyards_soul.png", :alt => "Made with soul in ATL") %>
  </a>
</div>
