<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Roost!</h1>
    <p>
      You have successfully listed your house. Your custom domain is: <%= @url %>.<br>
    </p>
    <p>Thanks for listing and have a great day!</p>
  </body>
</html>
