@import 'variables';

body {
  font-family: $body-text;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-inverse, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: $show-background;
  border-color: $low-light;
  .navbar-brand {
    width: 100px;
    height: 50px;
    background-image: image-url('logo.png');
    background-position: -4px center;
    background-size: auto 65px;
    background-repeat: no-repeat;
  }
}

.interior-page {
  margin-top: 60px;
  h1 {
    font-family: $headline-text;
    font-size: 36px;
    color: $show-background;
  }
}
label {
  color: $text-highlight;
  text-transform: uppercase;
}
.header {
  margin-bottom: 40px;
}

.address-fields {
  input {
    margin-bottom: 2px;
  }
}
.or {
  visibility: hidden;
}

.contact {
  margin-bottom: 50px;
}

.actions {
  margin-top: 100px;
}

#file-upload-form {
  margin-top: -110px;
}


@media (max-width: 900px) {
  .or {
    visibility: visible;
    margin-top: 40px;
  }
}


