$gray: #343844;

.cover-heading {
  text-align: center;
  background-color: $gray;
  width: 100%;
  margin-top: -150px;

  img {
    padding: 10px 0 20px 0;
  }
}

.arrow-down {
  text-align: center;

  width: 0;
  height: 0;

  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 45px solid $gray;
  position: relative;
  z-index: 2;

  margin: 0 auto;
}

.lead {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 23px;

  margin: 40px 0;
}

#sell-buy {
  list-style: none;
  margin: 0 auto;
  padding: 0;

  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 30px;

  line-height: 7;
  text-transform: uppercase;

  text-align: center;

  li {
    display: inline-block;
  }
  
  #sell {
    padding-right: 40px;
    border-right: solid #ffffff 2px;
  }

  #buy {
    margin-left: -3px;
    padding-left: 40px;
  }
}

@media (max-width:768px) {

  .cover-heading {
    margin-top: 30px;
    height: 80px;
    background: $gray image-url('logo.png') no-repeat center;

    img {
      display: none;
    }
  }

  .arrow-down {
    text-align: center;

    width: 0;
    height: 0;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 35px solid $gray;
    position: relative;
    z-index: 2;

    margin: 0 auto;
  }

  .lead {
    font-size: 18px;
  }

  #sell-buy {
    font-size: 20px;
    line-height: 3;
    text-align: center;

    #sell {
      padding-right: 10px;
      border-right: solid #ffffff 1px;
    }
    
    #buy {
      padding-left: 10px;
    }

  } 
}
