// Place all the styles related to the listing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@import "bootstrap";

@mixin leagueGothic($font-size) {
  font-size: $font-size;
  font-family: 'League Gothic';
}

.carousel-caption {
  background: rgba(52,56,68,0.7);
  
  padding: 0 0 0 7px;
  
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  
  @include leagueGothic(25px);
  text-shadow: none;
  text-align: left;
}

#base-details {
  color: white;
  text-align: center;
  @include leagueGothic(28px);
  padding: 10px 0;
  list-style: none;
  background: #40BA96;
  
  li {
    display: inline-block;
    border-right: solid 1px;
    padding-right: 10px;
    
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
  
  div.beds-baths, div.sqft {
    @include leagueGothic(12.5px);
    display: block;
    text-align: right;
    line-height: .3;
  }

  #price {
    vertical-align: top;
  }
}

#map img {
  max-width: none;
}
#map label { 
  width: auto; display:inline; 
} 

ul.photos {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    img {
      display: block;
    }
  }
}
