@mixin leagueGothic($font-size) {
  font-size: $font-size;
  font-family: 'League Gothic';
}

@mixin dosis($font-size) {
  font-size: $font-size;
  font-family: 'Dosis', sans-serif;
}

@mixin text-hide() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

#listing-details {
  padding-top: 0;
  .home-details {
    min-height: 120px;
  }
  @media (max-width: 992px) {
    .container, .container-fluid {
      width: 100%;
      padding: 0;
    }
    .contact {
      width: 100%;
      text-align: center;
      .phone {
        @include text-hide();
        background-image: image-url('phone.png');
        display: inline-block;
        background-size: 100%;
        width: 64px;
        height: 64px;
        margin: 16px;
      }
      .email {
        @include text-hide();
        background-image: image-url('email.png');
        display: inline-block;
        width: 64px;
        height: 64px;
        margin: 16px;
      }
    }

  }
}

$green: #40BA96;
$gray: #343844;

.carousel-caption {
  background: rgba(52, 56, 68, 0.7);

  padding: 0 0 0 7px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  @include leagueGothic(25px);
  text-shadow: none;
  text-align: left;
}

#base-details {
  color: white;
  text-align: center;
  @include leagueGothic(27px);
  list-style: none;
  background: $green;
  padding: 5px 0 0;
  list-style: none;
  letter-spacing: 1px;
  margin-bottom: 0;

  li {
    padding: 0 15px;
    display: inline-block;
    border-right: solid 1px;

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }

  div.beds-baths, div.sqft {
    @include leagueGothic(12.5px);
    display: block;
    text-align: right;
    margin-top: -13px;
  }

  li.beds-baths {
    padding-left: 0;
  }
  
  li.sqft, li#price {
    margin-left: -5px;
  }

  #price {
    vertical-align: top;
  }
}

.arrow-down {
  width: 0;
  height: 0;

  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid $green;
  position: relative;
  z-index: 2;

  margin: 0 50%;
  margin-bottom: -6px;
}

.arrow-down.gray {
  border-top: 6px solid $gray;  
}

ul#key-points {
  background-color: $gray;
  color: #ffffff;
  border-bottom: solid 1px white;

  list-style: none;

  padding: 15px 0 15px 30px;
  margin-bottom: 0;

  line-height: 1.1;

  @include dosis(18px);

  li:before {
    content: '\2022';
    margin-left: -16px;
    color: $green;
    margin-right: 5px;
    font-size: 16px;
  }
}

.description, div.key-points, .contact-method {
  padding-right: 0;
}

.show-listing {
  margin-right: 0;
}

#house-description {
  background-color: $gray;
  color: #ffffff;

  @include dosis(18px);
  line-height: 1.1;

  padding: 15px;
}

ul.photos {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    img {
      display: block;
    }
  }
}

.contact-method {
  background: $green;
  
  #contact-seller {
    margin: 0;
    color: #ffffff;
    padding-top: 15px;
  }
  
}

.logo {
  text-align: center;
  margin-top: -45px;
}


@media (min-width: 992px) {
  .arrow-down {
    display: none;
  }

  div.key-points {
    padding-right: 0;
    padding-left: 0;
    margin-left: 15px;
  }

  .description {
    padding: 0;
  }

  .show-listing {
    display: table;
    margin-left: 0;
    margin-right: 0;

    &:before {
      content:'';
      display: none;
    }

    div.key-points, .description {
      float: none;
      display: table-cell;
      vertical-align: top;
      background-color: $gray;
    }

    ul#key-points {
      border-bottom: none;
    }
  }

  .contact-method {
    background: #ffffff;

    #contact-seller {
      color: $green;
    }
  }
  .logo {
    margin-top: 0;
  }
}

